.welcome {
  display: flex;
  flex-direction: row;
}

.contentForm {
  width: 100%;
}

.contentImg img {
  width: 800px;
  height: 100vh;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.login-form {
  text-align: center;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25%;
}

.login-form h2 {
  font-size: 3rem;
  margin: 0;
}

.login-form p {
  margin: 0;
  margin-bottom: 3vh;
}

.login-form p a {
  text-decoration: none;
  color: #000;
}

.login-form label {
  font-size: 1em;
  margin: 10px;
}

.login-form input {
  border: 1px solid grey;
  border-radius: 7px;
  box-sizing: border-box;
  height: 30px;
  width: 30%;
  margin: 10px;
}

.login-form input:not(:placeholder-shown):valid {
  outline: 1px solid #bf00ff;
}

.login-form input:not(:placeholder-shown):invalid {
  outline: 1px solid #ff0000;
}

.login-form input:focus:invalid {
  outline: 1px solid #ff0000;
}

.login-form button {
  display: flex;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 0.5em;
  margin-top: 0;
  width: 100px;
}

.login-form button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.login-form button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.login-form button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.login-form button:focus {
  outline: 1px transparent;
}

.login-form button:before {
  display: none;
}

.login-form button:-webkit-details-marker {
  display: none;
}

@media (orientation: portrait) {
  .welcome {
    flex-direction: column;
  }

  .login-form p {
    font-size: 0.95rem;
  }
}
